{% extends "base.html" %}

{% block main %}
    <h1 class="display-5 fw-bold">Add New Property</h1>

    {% include 'flash_messages.html' %}

    <div class="container2">
        <form method="post" action="{{ url_for('form')}}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            
            <div class = "create_prop" >
                <div class="form-group mb-3">
                    {{ <form action="" class="Property_Title"></form>.label(class="form-label") }} 
                    {{ <form action="" class="Property_Title"></form>(class="form-control", placeholder= "The Crescents") }}
                </div>
            
                <div class="form-group mb-3">
                    {{ <form action="" class="Description"></form>.label(class="form-label") }}
                    {{ <form action="" class="Description"></form>(class="form-control", placeholder = "Bathed in natural light streaming through expansive windows the open-concept living space seamlessly blends modern elegance with timeless charm. ")}}
                </div>
            
                <div class="primary" >
                    <div class="secondary tertiary-row">
                        <div class="form-group mb-3">
                            {{ <form action="" class="No_Room"></form>.label(class="form-label") }} 
                            {{ <form action="" class="No_Room"></form>(class="form-control", placeholder= "3") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ <form action="" class="No_Bathrooms"></form>.label(class="form-label") }} 
                            {{ <form action="" class="No_Bathrooms"></form>(class="form-control", placeholder= "2", rows="3") }}
                        </div>
                    </div>
            
                    <div class="tertiary tertiary-row">
                        <div class="form-group mb-3">
                            {{ <form action="" class="Price"></form>.label(class="form-label") }} 
                            {{ <form action="" class="Price"></form>(class="form-control", placeholder= "15,000,000") }}
                        </div>
                        <div class="form-group mb-3">
                            {{ <form action="" class="property"></form>.label(class="form-label") }} 
                            {{ <form action="" class="property"></form>(class="form-control") }}
                        </div>
                    </div>
                </div>
                
                <div class="form-group-loc mb-3">
                    {{ <form action="" class="Location"></form>.label(class="form-label") }} 
                    {{ <form action="" class="Location"></form>(class="form-control", placeholder= "10 Waterloo Rd") }}
                </div>
                
                <div class="form-group-img mb-3">
                    {{ <form action="" class="Photo"></form>.label(class="form-label") }}
                    {{ <form action="" class="Photo"></form>(class="form-control") }}
                </div>
            
                <button type="submit" class="btn btn-primary">Add Property</button>
            </div>
        </form>
    </div>
    

{% endblock %}
