{% extends "base.html" %}

{% block main %}
    <!-- <h1 class="display-5 fw-bold">Properties</h1> -->

    {% include 'flash_messages.html' %}

    <div class="property">
        <div class="property-img">
            <img src="{{ url_for('get_image', filename=property.pname) }}">
        </div>
        
        <br>
    
        <div class="property-info">
            <h3 class = "prop-title">{{ property.title }}</h3>
    
            <div class="price-type">
                <p class="price">${{ property.price }}</p>
                <p class="type">{{ property.ptype }}</p>
            </div>
    
            <div class = "description">
                <p>{{ property.description }}</p>
            </div>
            
            <div class="rooms">
                <div class="bedrooms">
                    <p>
                        <i class="beroom"></i>
                        {{ property.num_rooms}} Bedrooms
                    </p>
                </div>
                <div class="bathrooms">
                    <p>
                        <i class="bath"></i>
                        {{ property.num_brooms}} Bathrooms
                    </p>
                </div>
            </div>
    
            <div class="location">
                <i class="map-marker"></i>
                <p>{{ property.location }}</p>
            </div>
    
            <button class="btn btn-primary" >Contact Realtor</button>
        </div>
    
    </div>

{% endblock %}