{% extends "base.html" %}

{% block main %}
    <h1 class="display-5 fw-bold">Properties</h1>

    {% include 'flash_messages.html' %}

    <br>

    <div class = "grid-container">
        {% for property in properties %}
    
            <div class="card">
                <div class="grid-item">
                    <img src="{{ url_for('get_image', filename=property.pname) }}">
                </div>
        
                <div class="card-body">
                    <h3 class = "title"> {{ property.title }}</h3>
                    <p class = "Location">
                        <i class="map-marker"></i>
                        {{property.location}}
                    </p>
                    <p class = "ps-price">
                        ${{property.price}}</p>
                </div>
                <a class="btn btn-primary" class = "btn" href= "{{url_for('view_properties',propertyid= property.id)}}">View Property</a>
            </div>
        {% endfor %}
    </div>
    

<br>
<br>
<br>

{% endblock %}